@charset "UTF-8";
@import 'common.scss';

/* 공통 */
body {
  &.hidden {
    overflow: hidden;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;

  .logo {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #efefef;
    border-radius: 100%;

    img {
      width: 100%;
      height: auto
    }
  }
}

.switch-wrapper {
  position: relative;

  #switch-point {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
  }

  .switch-label:hover {
    background: #efefef;
  }

  .onf-btn {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
  }

  /* checking style */
  #switch-point:checked+.switch-label {
    background: #c44;
    border: 2px solid #c44;
  }

  #switch-point:checked+.switch-label:hover {
    background: #e55;
  }

  /* move */
  #switch-point:checked+.switch-label .onf-btn {
    left: 33px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }
}

@include desktop {

}