@charset "UTF-8";
@import 'common.scss';

/* 공통 */
html {
  overflow: hidden;
}

body {
  overflow: hidden;
  &.hidden {
    overflow: hidden;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  padding: 0 1rem;
  z-index: 1000;

  .logo {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #efefef;
    border-radius: 100%;

    img {
      width: 100%;
      height: auto
    }
  }
}

.switch-wrapper {
  position: relative;

  #switch-point {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
  }

  .switch-label:hover {
    background: #efefef;
  }

  .onf-btn {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
  }

  /* checking style */
  #switch-point:checked+.switch-label {
    background: #c44;
    border: 2px solid #c44;
  }

  #switch-point:checked+.switch-label:hover {
    background: #e55;
  }

  /* move */
  #switch-point:checked+.switch-label .onf-btn {
    left: 33px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }
}

.container {
  main {
    .content {
      height: 100vh;
      overflow-y: auto;
      scroll-snap-type: y mandatory;

      .visual-wrap {
        position: relative;
        overflow: hidden;
        background-color: #000;
        height: 100vh;
        scroll-snap-align: start;
        
        .info-wrap {
          background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgb(0, 15, 71) 100%);
          
          .top-gradient {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 20rem;
            background: linear-gradient(#000000 0%, transparent 100%);
          }

          .bottom-gradient {
            position: absolute;
            bottom: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 20rem;
            background: linear-gradient(transparent 0%, rgb(0, 15, 71) 100%);
          }

          .gird-wrap {
            display: flex;
            padding: 0 2rem;

            .colum {
              width: 50%;
              opacity: 0.1;

              &:last-child {
                margin-left: 2rem;
              }
              
              .box {
                width: 100%;
                height: 200px;
                background-color: #c44;
                border-radius: 1rem;
                margin-bottom: 2rem;
              }
            }
          }
        }
        
        .txt {
          position: absolute;
          top: 0px;
          left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          font-size: 4rem;
          font-style: italic;
          color: #fff;
        }
      }

      .project-wrap {
        scroll-snap-align: start;
        height: 100vh;
        background: linear-gradient(rgb(0, 15, 71) 0%, #0EC0F5 100%);
      }

      .svg-container {
        
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        scroll-snap-align: start;
        padding: 0 2rem;
        background: linear-gradient(#0EC0F5 0%, #fff 100%);

        .tit {
          font-size: 4rem;
          color:#fff;
          font-weight: bold;
          font-style: italic;
          text-align: center;
        }

        .technica-wrapper {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          padding: 3rem 1rem 0 1rem;
          margin-top: 3rem;
          border-radius: 2rem;
          background-color: #fff;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

          .graph-circle {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
    
            circle,
            rect,
            line {
              fill: transparent;
            }
            text {
              font-size: 1.8rem
            }
          }
        }
      }
    }
  }
}

@include desktop {
  .container {
    main {
      .content {
        .visual-wrap {
          .info-wrap {
            .top-gradient {
              height: 50rem;
            }
            
            .bottom-gradient {
              height: 50rem;
            }
  
            .gird-wrap {
              display: flex;
              padding: 0 2rem;
              
              .colum {
                width: 20%;
                
                &:not(:first-child) {
                  margin-left: 2rem;
                }
                
                .box {
                  width: 100%;
                  height: 500px;
                  background-color: #c44;
                  border-radius: 1rem;
                  margin-bottom: 2rem;
                }
              }
            }
          }
  
          .txt {
            font-size: 6rem;

            br {
              display: none;
            }
          }
        }
  
        .svg-container {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          margin: 0 auto;

          .tit {
            font-size: 12rem;
            text-align: center;
          }
          
          .technica-wrapper {
            width: 100%;
            max-width: 2000px;
            padding: 6rem 0;
            margin: 8rem auto 0;

            .graph-circle {
              width: 20%;
              margin-bottom: 0rem;

              text {
                font-size: 3rem
              }
            }
          }
        }
      }
    }
  }
}